section {
    padding: 20px;
    color: #333;
}

h2 {
    font-size: 2rem;
}

form {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
