footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

a:hover {
    color: #007BFF;
}
